<div class="container" ng-if="myinfoCtrl.hasUserPreferences()">
        <p>You are subscribed to our newsletter as <strong>{{myinfoCtrl.userPreferences.firstname}} {{myinfoCtrl.userPreferences.lastname}}</strong>
          with email address <strong>{{myinfoCtrl.userPreferences.email}}</strong> and phone number <strong>{{myinfoCtrl.userPreferences.phone}}</strong>.<br>
        This is your favorite dish: <strong>{{myinfoCtrl.userPreferences.favouritedish}}</strong></p>
        <menu-item menu-item="myinfoCtrl.userPreferences.responseDish"></menu-item>
</div>
<div ng-if="!myinfoCtrl.hasUserPreferences()">
  Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a>
</div>
